*{
  margin: 0;
  padding: 0;
}
.town {
  height: 100vh;
  width: 100%;
  background-image: url(sky.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}
.village{
  height: 200px;
  width: 500%;
  display: block;
  background-image: url(road.jpg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-repeat: repeat-x;
  animation: village 4s linear infinite;
}
@keyframes village {  

100%{
  transform: translateX(-3400px);
  }
}
.city{
  height: 250px;
  width: 500%;
  background-image: url(city.png);
  position: absolute;
  bottom: 200px;
  right: 0; 
  left: 0;
  display: block;
  z-index: 1;
  background-repeat: repeat-x;
  animation: city 20s linear infinite;
}
@keyframes city{
  100%{
    transform: translateX(-1800px);
  }
}
.car{
  width: 400px;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}
.car img {
  width: 100%;
  animation: car 1s linear infinite;
}
@keyframes car {
  100%{
    transform: translateY(-1px);
  }
  50%{
    transform: translateY(1px);
  }
  0%{
    transform: translateY(-1px);
  }
}
.wheel{
  left: 50%;
  bottom: 183px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
  
}
.wheel img{
  width: 72px;
  height: 72px;
  animation: wheel 1s linear infinite;
}
.front-wheel{
  left: 80px;
  position: absolute;
}
.back-wheel{
  left: -165px;
  position: absolute;
}

@keyframes wheel{
  100%{
    transform: rotate(360deg);
  }
}
.name{
  color: rgb(5, 62, 220);
  font-size: 1900;
  font-weight: bolder;
  left: 49%;
  bottom: 180px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
  
}
.names {
color: white;
font-size: large;
font-weight: bolder;
left: 49.2%;
bottom: 160px;
transform: translateX(-50%);
position: absolute;
z-index: 2;
}